* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* start header */
header {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

header .navbar-brand span {
    color: white;
    font-size: 32px;
}

header .navbar-brand i {
    font-size: 45px;
    color: #35a22c;
}

header .nav-item .nav-link {
    position: relative;
    color: white;
    margin: 0px 20px;
    transition: 1s;
    overflow: hidden;
}

header .nav-item .nav-link:hover {
    color: #35a22c;
}

header .nav-item .nav-link::after {
    position: absolute;
    content: "";
    display: block;
    background: #35a22c;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;

    transition: 0.3s;
    transform: translateX(-100%);
}

header .nav-item .nav-link:hover::after {
    transform: translateX(0px);
}

header .active .nav-link {
    color: #35a22c;
}

header .active .nav-link::after {
    transform: translateX(0px);
}
/* end header */

/* start carousel */
#portfolio__carousel .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

#portfolio__carousel .carousel-caption h5 {
    font-size: 56px;
    line-height: 65px;
    font-weight: 400;
}

#portfolio__carousel .carousel-caption p {
    font-size: 24px;
    font-weight: 400;
} 

.carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators {
    bottom: 10%;
}

.carousel-item {
    position: relative;
    height: 100vh;
}

.carousel-item::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

#portfolio__carousel .carousel-indicators .active {
    /* opacity: 1; */
    background-color: #35a22c;
}
/* end carousel */

/* start project */
#portpolio__project .nav {
    justify-content: center;
}

#portpolio__project .card {
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#portpolio__project .nav-pills .nav-link.active {
    background: #35a22c;
    color: white;
    border-color: #35a22c;
}

#portpolio__project .nav-pills .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;
}

#pills-project .card {
    cursor: pointer;
}

#portpolio__project .card-body {
    border: 1px solid transparent;
    border-radius: 16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    transition: 0.3s;
}

#portpolio__project .card:hover .card-body {
    border-color: #35a22c;
}

#portpolio__project .card h3 {
    font-weight: 400;
}

#portpolio__project .card:hover h3 {
    color: #35a22c;
}

#portpolio__project .card p {
    color: #585858;
}

.heading {
    max-width: 750px;
}

.heading h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
}

.heading p {
    color: #585858;
    line-height: 24px;
}
/* end project */
/* start servicse*/
#portpolio__services {
    background-image: url(./image/3.jpg), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#portpolio__services .card {
    padding: 20px 15px;
    background: rgba(255,255,255,.1);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(4px);
    transition: 0.5s;
}

#portpolio__services .card:hover {
    background-color: black;
    border: 1px solid white;
}

#portpolio__services .card i {
    font-size: 48px;
    color: #35a22c;
    padding: 1.25rem 1.25rem 10px 1.25rem;
}

#portpolio__services .card .card-body {
    color: white;
}

#portpolio__services .card-body h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
}

#portpolio__services .card-body p {
    font-size: 16px;
    line-height: 24px;
}
/* end servicse*/

/* start award */
#portpolio__award {
    padding: 70px 0;
    position: relative;
    color: #585858;
}

.heading h2 {
    color: black;
}

.award__overlay {
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
}

#portpolio__award .row {
    justify-content: center;
    align-items: center;
}

#portpolio__award .card {
    border: none;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    border-radius: 10px;
    padding: 45px;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(4px);
}

.award__left {
    max-width: 40%;
}

.award__right {
    max-width: 60%;
}

.award__logo img {
    max-width: 100%;
}
/* end award */

/* start footer */
footer {
    background: #222;;
}

.footer__top a,
.footer__bottom a {
    color: #aaa;
    text-decoration: none;
}

.footer__top a:hover i {
    color: #35a22c;
    border: 1px solid #35a22c;
}

.footer__bottom a:hover {
    color: #35a22c;
}

.footer__top i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #585858;
    border-radius: 50%;
    color: #aaa;
    margin-right: 10px;
    transition: 0.5s;
}

.footer__bottom {
    color: #aaa;
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px;
}

.footer__bottom p {
    display: inline;
}
/* end footer */


/* break points */

/* .demo__responsive {
    width: 100%;

    height: 500px;
    background: #000;
} */

/* min width */

/* @media screen and (min-width: 992px) {
    .demo__responsive {
        background: red;
    }
}

@media screen and (min-width: 768px) {
    .demo__responsive {
        background: blue;
    }
} */


/* max width */

/* @media screen and (max-width: 768px) {
    .demo__responsive {
        background: blue;
    }
}

@media screen and (max-width: 992px) {
    .demo__responsive {
        background: red;
    }
} */






